
/* The Modal (background) */
.snapshot-modal {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.snapshot-modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.snapshot-field {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.snapshot-button {
    cursor: pointer; cursor: hand;
    min-width: 120px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    background-color: lightgrey;
    text-align: center;
    font-size: 17px;
}
